<div class="author">
    <h1 class="author__heading"> Hoş Geldiniz.</h1>
    <p class="author__body">Web developer ve içerik üreticisi.</p>
</div>

<img src="/img/resim.jpg" alt="kişisel resim" class="resim" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Son Yazılar</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Başlıklar</span>

                <span class="articles-list__date">İçerik</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt;Post İzlenmeleri</a>


</section>